@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  h1 {
    @apply text-5xl font-extrabold mt-4 mb-6 leading-none;
  }
  h2 {
    @apply text-4xl font-bold mb-4 leading-none;
  }
  h3 {
    @apply text-3xl font-bold mb-2 leading-none;
  }
  h4 {
    @apply text-2xl font-bold mb-2 leading-none;
  }
  h5 {
    @apply text-xl font-bold mb-2 leading-none;
  }
  h6 {
    @apply text-lg font-bold mb-2 leading-none;
  }
  p {
    @apply mb-3 text-gray-500 leading-6
  }
}

@layer utilities {
  .contain-paint {
    contain: paint;
  }
}



:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --color-bg-primary: #fcfcfc;
  --color-bg-secondary: #dddddd;
  --color-text-primary: #101010;
  --color-text-secondary: #2d3748;
  --color-text-accent: #2b6cb0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-primary: #101010;
    --color-bg-secondary: #2d3748;
    --color-text-primary: #fcfcfc;
    --color-text-secondary: #dddddd;
    --color-text-accent: #81e6d9;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.25rem;
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow: auto;
}

body {
  color: rgb(var(--color-bg-primary));
  /* background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
}



a {
  /* color: inherit; */
  /* text-decoration: none; */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

button {
  overflow: visible;
  border: none;
  background: none;
}

button,
select {
  text-transform: none;
}

li {
  /* list-style: none; */
}

mark {
  background-color: transparent;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

/* reset css */

/* 색조합 */
.color-set-1 {
  --first: #1d1a39;
  --second: #451952;
  --third: #662549;
  --forth: #ae445a;
  --fifth: #f39f5a;
  --sixth: #e8bcb9;
}
.color-set-2 {
  --first: #190019;
  --second: #2b124c;
  --third: #522b5b;
  --forth: #854f6c;
  --fifth: #dfb6b2;
  --sixth: #fbe4d8;
}
.color-set-3 {
  --first: #05161a;
  --second: #072e33;
  --third: #0c7078;
  --forth: #0f969c;
  --fifth: #6da5c0;
  --sixth: #294d61;
}
.color-set-4 {
  --first: #06142e;
  --second: #1b3358;
  --third: #473e66;
  --forth: #bd83b8;
  --fifth: #f5d7db;
  --sixth: #f1916d;
}

@layer components {
  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    position: relative;
    scroll-margin: calc(80px + 1rem);
  }
  .prose h1 > a,
  .prose h2 > a,
  .prose h3 > a,
  .prose h4 > a,
  .prose h5 > a,
  .prose h6 > a {
    position: absolute;
    right: 100%;
  }
  .prose h1 > a > span.icon.icon-link:before,
  .prose h2 > a > span.icon.icon-link:before,
  .prose h3 > a > span.icon.icon-link:before,
  .prose h4 > a > span.icon.icon-link:before,
  .prose h5 > a > span.icon.icon-link:before,
  .prose h6 > a > span.icon.icon-link:before {
    content: "🔗";
    display: none;
    width: 1em;
    height: 1em;
    font-size: 0.8em;
    vertical-align: middle;
  }
  .prose h1:hover > a > span.icon.icon-link:before,
  .prose h2:hover > a > span.icon.icon-link:before,
  .prose h3:hover > a > span.icon.icon-link:before,
  .prose h4:hover > a > span.icon.icon-link:before,
  .prose h5:hover > a > span.icon.icon-link:before,
  .prose h6:hover > a > span.icon.icon-link:before {
    display: inline-block;
  }
}

/* grid */
/* .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 8px;
  margin: 0 8px;
  min-width: 360px;
} */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* swiper */

.swiper-pagination-progressbar {
  top: unset !important;
  bottom: 0 !important;
}
.swiper-pagination-progressbar-fill {
  background: #ff4800 !important;
}
