.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 8px;
  margin: 0 8px;
}
.container {
  padding: 0 1rem;
}
.introduceContainer {
}
.contactContainer {
}
.name {
}
.position {
}

.ul {
  display: flex;
  flex-direction: row;
}
.li {
  width: 30px;
}
.li > a {
  margin-left: 0.5em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
/* 라이트 모드에 적용할 스타일 정의 */
@media (prefers-color-scheme: light) {
}
/* 다크 모드에 적용할 스타일 정의 */
@media (prefers-color-scheme: dark) {
  .li > i {
    /* filter: invert(1); */
  }
}
